<div class="jumbotron">
  <h1"Batman vs Superman"h1>
 		<div class "container">
			<%= image_tag "batman", size: '250x150', style: 'margin-right:80px', display: 'full' %>
			<%= image_tag "superman", size: '250x150', style: 'margin-right:80px', display: 'full' %>
		</div>

</div>


