<div class="jumbotron">
  <h1"This looks like a job for Superman"h1>
  <p>...</p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>

<%= image_tag "superman", size: '250x250', style: 'margin-right:80px' %>


